@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	--color-primary: #181818;
	--color-secondary: #eeeeee;
	--color-card: #f7f7f7;
	--shadow: rgb(0, 0, 0, 0.35);
}

body.dark {
	--color-primary: #eeeeee;
	--color-secondary: #181818;
	--color-card: #181818;
	--shadow: rgba(221, 221, 221, 0.35);
}

body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	background-color: var(--color-secondary);
}

.modal--active {
	overflow: hidden;
}
